body{
	padding: 0px;
}

.header{
	color:#FFF;

}

.navbar-default .navbar-nav > li > a {
	color:#FFF;

}


.footer{
  background-color:#000000 ;
  padding: 0px;
}

#white {
  color: #FFFFFF;
}
